/* Container styling */
.Contentbox {
  position: relative;
  width: 100vw;
  height: 200vh;
  overflow: hidden; /* Prevents scrolling due to video overflow */
  display: flex;
  justify-content: space-evenly;
}

.more-service-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
  gap: 20px; /* Adjust gap between the cards */
  padding: 70px;
  position: relative;
  z-index: 1;
  justify-content: center; /* Center the cards horizontally */
}


/* Service card styling */
.service-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a00;
  color: white;
  width: 22vw;
  height: 70vh; 
  padding: 20px;
  border-radius: 25px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.851);
  overflow: hidden;
  position: relative; 
}

/* Text styling */
.service-text {
  /* margin-right: 5rem; */
  font-size: 3rem; 
  margin-top: 50px;
  font-weight: lighter;
  width: 100%;
  /* margin-bottom: 60px; */
  text-align: left;
  z-index: 2; /* Ensure text stays above the image */
}

/* Service image container */
.service-image {
  width: 100%;  /* Ensure the image container takes full width of the card */
  height: 30%; /* Initial height of the image */
  position: absolute; /* Position it at the bottom of the card */
  bottom: 1px; /* 10px gap between the bottom of the card and the image */
  padding: 20px;
  overflow: hidden; /* Prevents overflow of image */
  transition: height 0.3s ease; /* Smooth transition for height */
}

/* Image styling */
.service-image img {
  width: 100%;
  height: 100%; /* Ensures the image takes up the full container height */
  object-fit: cover; /* Ensures the image fills the container while maintaining aspect ratio */
  border-radius: 25px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

/* Hover effect for service card */
.service-card:hover {
  background-color: #ff5500; /* Change background color on hover */
}

/* Hover effect for service image */
.service-card:hover .service-image {
  height: 50%; /* Increase image height on hover */
}

/* Remove hover effect for the image */
.service-card:hover .service-image img {
  filter: grayscale(0%); /* Remove grayscale on hover */
}


